@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("/avenir-400.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Avenir", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.65;
  color: #373f49;
  background: #eee;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-weight: bold;
}

a {
  color: currentColor;
}

.wrapper {
  width: calc(100% - 10vmin);
  margin: 0 auto;
  padding: 5vmin 0;
}

/**
 *
 */
.section-headline {
  padding: 0 0 0.4em 0;
  margin: 0 0 5vmin 0;
  border-bottom: 1px solid #ddd;
}

.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

.checkmark {
  -webkit-transform: rotate(45deg);
  border-bottom: 2px solid #feb901;
  border-right: 2px solid #feb901;
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  transform: rotate(45deg);
  width: 10px;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #feb901;
  position: relative;
  top: 5px;
}

.boxPaddingBottom .Small {
  padding-bottom: 10px;
}

.boxPaddingBottom .Medium {
  padding-bottom: 20px;
}

.boxPaddingBottom .Large {
  padding-bottom: 40px;
}

.lineBottomPadding .Small {
  padding-bottom: 5px;
}

.lineBottomPadding .Medium {
  padding-bottom: 10px;
}

.lineBottomPadding .Large {
  padding-bottom: 20px;
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
}

.alignLeft {
  text-align: left;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
