.box {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.box > * {
  flex: 1;
}

.imageOnRight {
  flex-direction: row-reverse;
}
.heroImage {
}

.imageOnTop {
  flex-direction: column;
}

.imageOnBottom {
  flex-direction: column-reverse;
}

.imageOnTop {
  flex-direction: column;
}

.description {
  padding: 0.3em;
}

.image {
  height: 100%;
}

.imageContainer {
  padding: 20px;
}
